* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: black;
}

h1 {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}

body {
  max-width: 1100px;
  margin: auto;
  margin-top: 5%;
  padding: 20px;
  
}

#canvas {
  padding: 0;
  margin: 0;
}
select {
  background: white;
  color: black;
  border-color: black;
}

#text-exp, #program {
  border: 3px solid green;
  padding: 20px;
  margin-bottom: 20px;
}

.fzBox{
  align-self: center;
  background-color: gray;
  padding: 0.25em;
}
.fzOptions{
  background-color: white;
  padding: 0.5em;
  margin: 0.5em;
}

.plotBoundInput {
  width: 8%;
  min-width: 50px;
  max-width: 150px;
}
table, th, td {
  background-color: white;
  font-weight: normal;
  text-align: center;
}
table {
  width: 300px;
  max-width: 90%;
  margin: auto;
}
.float-container {
  display: inline-block;
  width: 100%;
}
.float-child {
  width: 48%;
  float: left;
  margin: 1%;
  background-color: white;
}

button{
  border: 2px solid #707070;
  color: black;
  background: #ededed;
  padding: 0.25rem 0.25rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0.25rem;
  cursor: pointer;
}
button:hover {
    background-color:#ababab;
}
#rescaleInputPlotButton, #rescaleOutputPlotButton {
  width: 50%;
  margin: 10px 25%;
}